@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,500&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    scroll-behavior: smooth;
}

.container {
    width: 95%;
    margin: auto;
}

.section1 {
    height: 100vh;
    width: 100%;
}

.section1 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    z-index: 10;
}

.section1 .one  .header i {
    font-size: 20px;
    cursor: pointer;
}

.section1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.section1  .text-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.section1 .text-content .head h1 {
    font-size: 6.8vw;
    font-weight: 600;
    line-height: 7rem;
}

.section1 .text-content .head span {
    color: yellow;
}

/* NOW LETS MAKE OUR CURSOR */
.cursor {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =================================section2=================================== */
.section2 {
    min-height: 100vh;
    width: 100%;
    cursor: pointer;

}


.section2 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* ===========================section3======================== */

.section3 {
    min-height: 100vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 .three {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section3 .three .left,
.section3 .three .right {
    width: 100%;
    height: 100%;
}

.section3 .three .left video {
    width: 80%;
    height: 80%;
}

.section3 .three .right h1 {
    margin: 30px 0;
    font-weight: 500;
}



.section4 {
    min-height: 100vh;
    height: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.section4 .services {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.section4 .services:hover {
    background-color: #0f0f0f;

}

.section4 .services:hover h5 {
    color: white;
}

.section4 .four .moving-text .text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 50px 0;
}

.section4 .four .moving-text .text .first {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: move linear infinite 15s;
}


.section4 .four .moving-text .text .first video {
    height: 150px;
    width: 150px;
    margin: 0 50px;
}

.section4 .four .moving-text .text .first h1 {
    font-size: 6vw;
    text-transform: uppercase;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ============projects========== */

.section4  .projects {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

.section4  .projects .bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

.section4 .projects .bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f6e;
    z-index: 1;
}

.section4 .four .projects .bg video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    display: none;
}

.section4 .four .projects .first-project .first {
    margin: 100px 0;
    padding: 40px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section4 .four .projects .first-project .first .about {
    display: flex;
}

.section4 .four .projects .first-project .first .about h4 {
    margin: 0 30px;
    border: 1px solid #ccc;
    padding: 7px 10px;
    border-radius: 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: all ease 1s;
}

.section4 .four .projects .first-project .first:hover h4 {
    opacity: 1;
    transform: translateY(0);
}


/* ========================================SECTION5=================== */

.section5 {
    height: 100vh;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5 .five {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.section5 .five .left,
.section5 .five .right {
    height: 100%;
    width: 100%;
    margin-left: 100px;
}

.section5 .five .right video {
    height: 90%;
    width: 90%;
}

.section5 .five .left .one {
    overflow: hidden;
    margin: 50px 0;
}

.section5 .five .left h1 {
    font-size: 2.5vw;
}

/* ================================SECTION6================= */
.section6 {
    min-height: 50vh;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.section6 .six .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section6 .six .move {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scrolling linear infinite 15s;
}
.section6 .six .move h1 {
    font-size: 3.7vw;
    text-transform: uppercase;
    font-weight: 900;
}

.section6 .six .move span {
    color: red;
}

.section6 .six .move i {
    margin: 0 30px;
    font-size: 50px;
    color: red;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.section6 .six .right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    white-space: nowrap;
}

.section6 .six .right .like {
    display: flex;
    width: 100%;
    white-space: nowarp;
    animation: like linear infinite 15s;
}
.section6 .six .right .like .one {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.section6 .six .right .like .one h1 {
    font-size: 3.7vw;
    font-weight: 800;
    text-transform: uppercase;
}

.section6 .six .right .like .one i {
    font-size: 50px;
    margin: 0 50px;
    color: red;
}

@keyframes like {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}



.section7 {
    height: 100vh;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}


.section7 .follow .box {
    margin: 50px 0;
    padding: 15px 0;
    /* background: aqua; */
    position: relative;
    overflow: hidden;
}

.section7 .follow .box .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
    opacity: 0;
    transform: translateY(30px);
    transition: .7s ease all;

}

.section7 .follow .box:hover .back {
    background-color: #222222;
    opacity: 1;
    transform: translateY(0);
}

.section7 .follow .box .back .insta {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    animation: insta linear infinite 15s;
    opacity: 0;
    scale: .5;
    transition: all ease .7s;

}

.section7 .follow .box:hover .back .insta {
    opacity: 1;
    scale: 1.1;
}

.section7 .follow .box .back .insta h3 {
    margin: 0 50px;
    font-size: 2vw;
    white-space: nowrap;
}

@keyframes insta {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}